@import "https://fonts.googleapis.com/css?family=Lato:400,700";
*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
*::after,::before{
  box-sizing: border-box;
}
li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /*heading section*/

  @import "https://fonts.googleapis.com/css?family=Lato:400,700";
  *{
      margin:0;
      padding:0;
      font-family: 'Lato', sans-serif;
      box-sizing: border-box;
  }
  *::after,::before{
    box-sizing: border-box;
  }
  li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  nav{
    background-color: #eee;
  }
    #header-img {
      width: 100%;
      max-width: 50px;
      margin-left: 20px;
      margin-top: 10px;
    }
    #main-nav {
      display:none;
      flex-direction: column;
    }
    #main-nav li {
      text-align: center;
      margin: 15px auto;
    }
    #main-nav li a{
      color: black;
      font-size: 20px;
    }
    #main-nav li a:hover{
      color:#00ff00;
    }
  
    #nav-toggle{
      width: 25px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    
    @media screen and (min-width: 769px)  {
      nav{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        /* height: 70px; */
        align-items: center;
      }
      
      #main-nav {
        display: flex !important;
        margin-right: 30px;
        flex-direction: row;
        /* justify-content: flex-end;  */
      }
      #main-nav li {
        margin: 0;
      }
      #main-nav li a{
        margin-left: 30px;
      }
      #nav-toggle{
        display: none;
      }
    }

/* home*/
#home{
  height: 600px;
  width: 100%;
  background-image: url(phone_smartphone_hand_147279_1366x768.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  text-transform:uppercase;
  background-position: top;
}
#home h1{
padding-top: 250px;
font-size: 39px;
}
#home h2{
  font-size:30px;
  padding-top: 20px;
}

#button{
  padding: 10px 30px;
  /* background-color: #00ff00; */
  border-radius:25px;
  margin-top: 45px;
  display: inline-block;
  border: 1px solid #00ff00;
  transition: .5s all ease;
}
#button:hover{
  border: 1px solid white;
  color: #00ff00;
  scale: 1.1;
}
#button:active{
position: relative;
top:5px;
}

/*service*/
#service{
  background-color:#eee;
}

#service h2{
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
.content{
  display: flex;
  padding: 0 50px;
  margin-bottom: 100px;
  padding-bottom: 70px;
}
.contents{
  justify-content: space-around;
  margin-right: 40px;
  text-align: center;
}
.contents > img{
  width:50px;
  height: 50px;
  margin-bottom: 40px;
}

@media all and (max-width: 900px) {
  .content{
    flex-direction: column;
  }
  .contents > img{
    margin-bottom: 25px;
  }
  .contents > p{
    margin-bottom: 35px;
  }
  .contents{
    margin-right: 0px;
    text-align: center;
  }
}
.contents > img{
  transition: .5s all ease;
}
.contents > img:hover{
scale: 1.1;
}

/*gallery*/
#sales h1{
font-size: 36px;
text-align: center;
margin: 40px 0 50px;
}

#gallery{
  display: flex;
  padding: 0 15px;
  margin: 50px auto 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
.pics{
    text-align: center;
    flex: 1 1 25%;
    margin-bottom: 40px;
}
.pics > p{
    padding-top: 8px;
}
.pics > img{
  transition: .5s all ease;
}
.pics > img:hover{
scale: 1.1;
}
@media all and (max-width:768px){
    .pics{
        flex:1 1 50%;
    }
    #gallery{
        justify-content: space-around;
    }

}
@media all and (max-width:450px){
    .pics{
        flex:1 1 100%;
    }

}
footer{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
footer img{
  width: 100%;
  max-width: 50px;
  margin-left: 30px;
}
footer p{
  margin-right: 30px;

}